<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CY4WM6QKM9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-CY4WM6QKM9');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="og:type" content="profile" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:locale" content="{{ replace .Site.Language.LanguageCode "-" "_" }}" />

  <link rel="canonical" href="{{ .Permalink }}" />
  {{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}" />
  {{ end }}

  {{ $style := resources.Get "css/main.css" | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
</head>
<body>
{{ block "main" . }}{{ end }}
{{ $kw := resources.Get "js/kw.js" | minify | fingerprint }}
<script src="{{ $kw.RelPermalink }}" integrity="{{ $kw.Data.Integrity }}" defer></script>
</body>
</html>
